[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==1.8.2"
fastapi = "==0.68.0"
typing-extensions = "==3.10.0.0"
psycopg2 = "==2.8.0"
uvicorn = "==0.13.4"

[dev-packages]

[requires]
python_version = "3.8"
